*{
  margin: 0;
  padding: 0;

}
:root{
  --background :url(./img/background.jpg);
}
  @import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
.background{
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.game{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  
}
.board{
  margin-top: 2rem;
  align-self: center;
  
}
.player{
  position: absolute;
  z-index: 1;
  margin-top: 2rem;
  align-self: center;
  display: flex;
  flex-direction: column-reverse;
  /* background-color: rgba(128, 128, 128, 0.479); */
  height: 600px;
  width:600px;
}
.dot{
  position: absolute;
  height: 40px;
  width: 40px;
  margin-left: 0px;
  overflow: hidden;
  
  border-radius: 50%;
  border: 5px solid black;
  display: inline-block;
  transition: margin ease-in  0.5s;
  
}
.dice{
  position: absolute;
  top: 50%;
  /* overflow: hidden; */

  width: fit-content;
  justify-self: center;
  align-self: end;
  margin-right: 10rem;
  /* margin-bottom: 10rem; */
}
.diceImage{
  
  border-radius: 0.5rem;
  border: 2px solid black;
  background-color: #eb1515;
  filter: drop-shadow(-1px -1px 20px rgb(0, 0, 0)) ;
}

.gameWin{
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: url(./img/gigachad.gif);
  opacity: 0.87;
  
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
 
  justify-content: center;
  
}
.gameWin .container{
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 28rem;
      align-self: center;
   background-color: black;
}

.headLabel{
  width: 100%;
  font-family: 'Changa', sans-serif;
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  color: white;
}
.restart{
  width: 100%;
  margin-top: 5rem;
  font-family: 'Changa', sans-serif;
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
  background:transparent;
  outline: none;
  border: none;
  color: white;

}

.youSigma{
  width: 100%;
 
  font-family: 'Changa', sans-serif;
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  color: white;
}

/* Game Menu */

.menu{
  position: relative;
  height: fit-content;
  width: 40vw;
  padding-bottom: 2rem;
  justify-content: center;
  /* border: 2px solid red; */
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,12,116,1) 65%, rgba(51,0,255,1) 100%);

  box-shadow: 0px 3px 10px white;
}

.menu label { 
margin-top: 2rem;
  font-weight: bold;
  color:transparent;
  width: 100%;
  font-size: 5.5rem;
  font-family: 'Sedgwick Ave Display', cursive;

  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(253, 0, 0, 0.753);

}
.menu span { 
  background: var(--background) -20px -20px no-repeat;
  filter: brightness(7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
  display:block;
}

.menu-button{
  text-align: center;
  width: 100%;
}

.colorBox{
  width: 2rem;
  height: 2rem;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 20px;
  border: 2px solid white;

}

th{
  min-width: 5rem;
}
/* display turn */
.display-turn{
  margin: 1rem;
  position: absolute;
  min-height: fit-content;
  width: 20rem;
 
  box-shadow: 2px 1px 2px  rgb(143, 143, 143);
  background: rgba(255, 255, 255, 0.8);
  /* background-color: #eb1515; */
  font-family: 'Sedgwick Ave Display', cursive;
  color: rgb(0, 0, 0);
  
}
.turn-name{
  margin: 1rem;
  font-size: 2rem;
}